# project files
*.sublime-workspace
*.sublime-project

# filesystem files
.DS_Store

# configuration files
Config/*.php
webroot/index.php

# temporary files
tmp/cache/*/*
tmp/logs/*
tmp/sessions/*
tmp/tests/*

# global negations
!empty